<%- include('./partials/header') %>

<h2>Welcome to The VideoGame Database!</h2>

<body>
From this website you will be able to navigate the page as well as create new games and update existing ones!
</body>
<%- include('./partials/footer') %> 