<%- include('./partials/header') %>

<h2>Welcome to The VideoGame Database!</h2>

<div class="intro">
    <p>
        Welcome, fellow gamers and collectors, to our ultimate video game database! Get ready to jump into a digital wonderland where the fun never ends. We're on a mission to gather the most epic games of this console generation – the crème de la crème that Xbox, Nintendo Switch, and PS5 have to offer!
    </p>
    
    <p>
        Picture this: you, surrounded by an ever-growing collection of gaming greatness. It's like having a secret stash of pure joy and adrenaline. We've handpicked the best of the best, so you don't have to waste time on the meh ones. We're talking about games that will make you shout "Just one more level!" at 3 AM.
    </p>
    
    <p>
        Our database is like a gaming encyclopedia, but with way more personality. You'll find everything you need to know about each game – release year, ESRB rating (let's keep it family-friendly, folks), the brilliant minds behind them, the platforms they call home, and whether they're out now or teasing us from the future.
    </p>
    
    <p>
        But here's the best part – we're not just here to talk about games; we're here to celebrate the sheer magic of gaming. It's about the memories we create, the virtual worlds we explore, and the friends we make along the way (we all have that one buddy who needs to level up their skills).
    </p>
    
    <p>
        So, buckle up, grab your controller (or your trusty keyboard and mouse), and prepare for the adventure of a lifetime. We're your virtual sidekick, guiding you through a universe filled with mind-blowing graphics, epic quests, and addictive gameplay. It's a one-way ticket to paradise!
    </p>
    
    <p>
        Join us as we embark on this epic quest to build the ultimate shrine to gaming greatness. Together, we'll laugh, we'll cry (mostly because of difficult boss battles), and we'll experience the kind of exhilaration that only gaming can provide.
    </p>
    
    <p>
        Are you ready to level up your collection? Let's dive into the pixelated wonders, the heroic sagas, and the whimsical worlds. Get ready to unleash your inner geek and embark on a gaming adventure that will leave you shouting, "Game on!"
    </p>
    
    <p>
        So, grab a snack, settle into your gaming den, and let's kick some virtual butt! The ultimate video game collection awaits – let the games begin!
    </p>
</div>

<%- include('./partials/footer') %>
