<%- include('../partials/header') %>

<h2>Enter a New VideoGame</h2>
<form action="/games" method="POST">
  <label>Title:
    <input type="text" name="title">
  </label><br>
  <label>Release Year:
    <input type="number" name="releaseYear">
  </label><br>
  <label>MPAA Rating
    <select name="ESRBrating">
      <option value="E">E</option>
      <option value="E10">E10</option>
      <option value="T">Teen</option>
      <option value="M">Mature</option>
    </select>
  </label><br>
  <label>Cast (separate actors with commas):
    <input type="text" name="cast">
  </label><br>
  <label>Now Showing:
    <input type="checkbox" name="nowShowing" checked>
  </label><br>
  <button type="submit">Add VideoGame</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>